<h1>Listing tickets</h1>

<table>
  <tr>
    <th>Summary</th>
    <th>Description</th>
    <th>Priority</th>
    <th>Difficulty</th>
    <th>Attended by</th>
    <th>Requested by</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.summary %></td>
    <td><%= ticket.description %></td>
    <td><%= ticket.priority %></td>
    <td><%= ticket.difficulty %></td>
    <td><%= ticket.attended_by %></td>
    <td><%= ticket.requested_by %></td>
    <td><%= ticket.status %></td>
    <td><%= link_to 'Show', ticket %></td>
    <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
    <td><%= link_to 'Destroy', ticket, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket', new_ticket_path %>
